<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration Form</title>

</head>
<body>
<div class="container">
    <h2>Registration </h2>
    <form action="{{ url_for('register') }}" method="post">
        {% if message is defined and message %}
            <div class="alert alert-warning">  <strong>  {{ message }} ???? </strong></div>
        {% endif %}
        <br>
        <div class="form-group">
             Name: <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
             Name: <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <div class="form-group">
             Email: <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter firstname">
        </div>
        <div class="form-group">
             Email: <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter lastname">
        </div>
        <div class="form-group">
             Email: <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone">
        </div>
        <div class="form-group">
             Email: <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Enter Company Name">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
    </form>
</div>
</body>
</html>